<%= form_tag '/confessions/show' do %>

  <h1 class="h1">Wow</h1>

  <h2 id="first">Plz below</h2>
  <h2 id="second">Many courtesy</h2>
  <h2 id="third">Much understand</h2><br>

  <div class="field">
    <%= label_tag :Much_Explain %><br />
    <%= text_area_tag :confession_text %>
  </div>
  <div class ="email">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div><br>
  <div class="actions">
    <%= submit_tag 'So Confession', :class => "button" %>
  </div>


<% end %>

