<%= form_tag '/confessions', method: :post do %>

  <h1 class="h1">Wow</h1>

  <h2 id="first">Plz below</h2>
  <h2 id="second">Many courtesy</h2>
  <h2 id="third">Much understand</h2><br>

  <div id="form">
    <div class="field" type="text">
      <%= label_tag :Much_Explain %><br />
      <%= text_area_tag :confession_text %>
    </div>
    <div class ="email" type="text">
      <%= label_tag :email %><br />
      <%= text_field_tag :email %>
    </div><br>
    <div class="actions">
      <div class="button" type="submit"><%= submit_tag 'So Confession', :style => "font-family:Comic Sans MS;color: red;", class: 'submit_btn' %></div>
    </div>
  </div>


<% end %>

